{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}

{% endblock title %}

{% block content %}

<form action="" method="POST" class="form" autocomplete="off">
{% csrf_token %}

  <div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="d-flex align-items-center flex-wrap mr-auto">
        <div class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 my-1 mr-3 active">
          <span style="color: #335EEA" class="font-weight-bolder">Letters of Recommendation</span>
        </div>
      </div>
      <input style="color: #335EEA" class="btn btn-fixed-height btn-white btn-hover-primary font-weight-bolder font-size-sm my-1 mr-3" type='submit' value="Save Changes">
      <a style="color: #335EEA" class="btn btn-fixed-height btn-white btn-hover-primary font-weight-bolder font-size-sm" href="{% url 'letters:letters' %}">Cancel</a>
    </div>
  </div>

  <div class="d-flex flex-column-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-custom gutter-b example example-compact">
            <div class="card-body">
              <div class="row">

                <div class="col-12 col-md-12 mb-4">
                  <h4 style="color: #335EEA">Letter Information</h4>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Letter Title <span class="text-danger">*</span></label>
                    {% render_field form.letter_title class="input input-group input-group-solid form-control" type="text" placeholder="Letter Title" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Letter Type <span class="text-danger">*</span></label>
                    {% render_field form.letter_type class="input input-group input-group-solid form-control" type="text" placeholder="Letter Type" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>School Association *</label>
                    {% render_field form.school_association class="input input-group input-group-solid form-control" type="text" placeholder="School Association" %}
                    <div class="text-muted mt-1">
                      * If author is associated with a school.
                    </div>
                  </div>
                </div>

                <div class="col-6">
                </div>

                <div class="col-12 col-md-12 mb-4">
                  <h4 style="color: #335EEA">Primary Contact/Author</h4>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="mb-1">Prefix</label>
                    {% render_field form.author_prefix class="input input-group input-group-solid form-control" placeholder="Course Number" type="text" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="mb-1">First Name <span class="text-danger">*</span></label>
                    {% render_field form.author_first_name class="input input-group input-group-solid form-control" placeholder="Course Name" type="text" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Last Name <span class="text-danger">*</span></label>
                    {% render_field form.author_last_name class="input input-group input-group-solid form-control" placeholder="Course Classification" type="text" %}
                    {% if form.bio_biochem.errors %}<div class="text-danger mt-2">Please enter a score between 118 and 132.</div>
                    {% endif %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Author Title</label>
                    {% render_field form.author_title class="input input-group input-group-solid form-control" placeholder="Credit Hours" type="text" %}
                    {% if form.chem_physics.errors %}
                    <div class="text-danger mt-2">Please enter a score between 118 and 132.</div>
                    {% endif %}
                  </div>
                </div>

                <div class="col-12 col-md-12 mb-4">
                  <h4 style="color: #335EEA">Organization</h4>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Organization Name</label>
                    {% render_field form.organization_name class="input input-group input-group-solid form-control" placeholder="Transcript Grade" type="text" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Address</label>
                    {% render_field form.address class="input input-group input-group-solid form-control" type="text" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Country</label>
                    {% render_field form.country class="input input-group input-group-solid form-control" type="text" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>City</label>
                    {% render_field form.city class="input input-group input-group-solid form-control" type="text" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Phone</label>
                    {% render_field form.phone class="input input-group input-group-solid form-control" type="text" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Email</label>
                    {% render_field form.email class="input input-group input-group-solid form-control" type="text" %}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
