{% extends 'landing/root.html' %}
{% load static %}

{% block body %}

<section class="pt-8 pt-md-11 pb-8 pb-md-14">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        <h1 class="display-4 mb-2">
          About Kanaboard
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr class="my-6 my-md-8">
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-md-8">
        <p class="fs-lg text-gray-800">We know first hand that getting accepted into medical school isn't easy. However, it's our mission to do everything we can to help you achieve that goal. Wherever you are in your pre-med journey, we want to help you. It's our hope that Kanaboard can help you become the best applicant, and doctor, you can be.</p>
        <p class="fs-lg text-gray-800">Right now, Kanaboard is currently in its public beta testing phase. If you have any issues using Kanaboard or find a bug, please <a href="mailto:support@kanaboard.com">let us know</a>. In the mean time, we're working hard to make Kanaboard as useful as possible by continually updating and improving it. We also have some exciting plans for the future, so stay tuned!</p>
        <p class="fs-lg text-gray-800">If you have any questions, have an idea for a feature, or just want to say hi, please reach out to us at <a href="mailto:hello@kanaboard.com">hello@kanaboard.com</a>. We'll be with you every step of the way.</p>
        <p class="fs-lg text-gray-800">The Kanaboard Team</p>
      </div>

      <div class="col-12 col-md-4">
        <div class="card shadow-light-lg">
          <div class="card-body">
            <h4>
              Have a question about Kanaboard?
            </h4>
            <h6 class="fw-bold text-uppercase text-gray-700 mb-2">
              Email us
            </h6>
            <p class="fs-sm mb-0">
              <a href="mailto:hello@kanaboard.com">hello@kanaboard.com</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock body %}
