{% extends 'landing/root.html' %}
{% load static %}

{% block body %}

<section class="pt-8 pt-md-11 pb-8 pb-md-14">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        <h1 class="display-4 mb-2">
          Privacy Policy
        </h1>
        <p class="fs-lg text-gray-700 mb-md-0">
          <i>Updated April 10th, 2021</i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr class="my-6 my-md-8">
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-md-8">

        <p class="fs-lg text-gray-800 mb-6 mb-md-8">
          The privacy of your data is extremely important to us. This policy explains what data we collect about you, why we collect that data, and how we handle your data.
        </p>

        <h3 class="mb-2">
          1. Collecting Your Data
        </h3>
        <p class="text-gray-800 mb-6">
          At Kanaboard, we make sure to only collect the information we need for you to use our product. When you register an account with us, we collect your name and email. We use this data to personalize your account and send you important updates, account settings confirmations, and other essential information, such as changes to our privacy policy and terms of service. We promise not to sell your information to third parties, or use your name in any marketing statements without your permission.
        </p>

        <h3 class="mb-2">
          2. Billing Information
        </h3>
        <p class="text-gray-800 mb-6">
          When you purchase a subscription to Kanaboard, we ask for your debit or credit card and billing address. Your payment information is processed entirely by secure third parties and is not stored in our database. However, we do have access to your payment history and subscription information in the event a refund is given or there is an issue with your subscription.
        </p>

        <h3 class="mb-2">
         3. Correspondance
        </h3>
        <p class="text-gray-800 mb-6">
          When you email us with a question or to ask for help, we keep that correspondence, including the email address, so that we have a history of past correspondences to reference if you reach out in the future.
        </p>

        <h3 class="mb-2">
          4. What We Don't Collect
        </h3>
        <p class="text-gray-800 mb-6">
          We’ll never ask for any characteristics of protected classifications including age, race, gender, religion, sexual orientation, gender identity, gender expression, or physical and mental abilities or disabilities. You may provide these data voluntarily, such as if you include a pronoun preference in your email signature when writing into our Support team. We also do not collect any biometric data.
        </p>

        <h3 class="mb-2">
          5. How We Handle Your Data
        </h3>
        <p class="text-gray-800 mb-6">
          Our default practice is to not access your information. The only times we’ll ever access or share your info are: 1. To help you troubleshoot an issue with your account or 2. Fix a software bug, with your permission. If at any point we need to access your account to help you with a Support issue, we will ask for your consent before proceeding. Kanaboard, LLC is a US company and all data infrastructure is located in the US.
        </p>

        <h3 class="mb-2">
          6. Account Deletion
        </h3>
        <p class="text-gray-800 mb-6">
          If you no longer wish to use Kanaboard, we give you the option to delete your account completely. Upon deletion, your data is immediately deleted and no longer accessible.
        </p>

        <h3 class="mb-2">
          7. Changes To This Policy
        </h3>
        <p class="text-gray-800">
          In the future we may update this policy. If that happens, we will notify you via the email associated with your account. If Kanaboard, LLC is acquired by or merged with another company, we’ll notify you well before any info about you is transferred and becomes subject to a different privacy policy. If you have any questions, comments or concerns about this privacy policy, please reach out to us at <a href="mailto:privacy@kanaboard.com" class="text-primary">privacy@kanaboard.com</a>, and we’ll be happy to answer them.
        </p>
      </div>

      <div class="col-12 col-md-4">
        <div class="card shadow-light-lg">
          <div class="card-body">
            <h4>
              Have a question about our privacy policy?
            </h4>
            <h6 class="fw-bold text-uppercase text-gray-700 mb-2">
              Email us
            </h6>
            <p class="fs-sm mb-0">
              <a href="mailto:privacy@kanaboard.com" class="text-primary">privacy@kanaboard.com</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock body %}
