{% extends 'landing/root.html' %}
{% load static %}

{% block body %}

<section class="pt-8 pt-md-11 pb-8 pb-md-14">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        <h1 class="display-4 mb-2">
          Refund Policy
        </h1>

        <p class="fs-lg text-gray-700 mb-md-0">
          <i>Updated April 10th, 2021</i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr class="my-6 my-md-8">
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-md-8">
        <p class="fs-lg text-gray-800">
          We hope you’ll find Kanaboard useful on your journey to medical school. However, we understand if it’s not quite what you expected. Below are some examples of how we can refund you.
        </p>

        <div class="d-flex">
          <span class="badge badge-rounded-circle bg-primary-soft mt-1 me-4">
            <i class="fe fe-check"></i>
          </span>
          <p class="text-gray-800">
            If you purchased a monthly or yearly subscription to Kanaboard, but decided within two months it’s just not for you (on top of the free trial), we’ll give you a full refund.
          </p>
        </div>

        <div class="d-flex">
          <span class="badge badge-rounded-circle bg-primary-soft mt-1 me-4">
            <i class="fe fe-check"></i>
          </span>
          <p class="text-gray-800">
            If you were charged for your next month or year but meant to cancel, we’ll give you your money back.
          </p>
        </div>

        <div class="d-flex">
          <span class="badge badge-rounded-circle bg-primary-soft mt-1 me-4">
            <i class="fe fe-check"></i>
          </span>
          <p class="text-gray-800">
            If you have a situation that doesn’t apply to the above, let us know, and we’ll look into giving you a partial refund.
          </p>
        </div>

        <p class="text-gray-800">
          We know how challenging this journey is, which is why we’ll do everything we can to help you along the way. If you have any questions or concerns, reach out to us at <a href="mailto:refund@goodthemes.co" class="text-pimary">refund@kanaboard.com</a>, and we’ll do our best to make things right.
        </p>
      </div>

      <div class="col-12 col-md-4">
        <div class="card shadow-light-lg">
          <div class="card-body">
            <h4>
              Have a question about our refund policy?
            </h4>
            <h6 class="fw-bold text-uppercase text-gray-700 mb-2">
              Email us
            </h6>
            <p class="fs-sm mb-0">
              <a href="mailto:refund@kanaboard.com" class="text-primary">refund@kanaboard.com</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock body %}
