{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<form action="" method="POST" class="form" autocomplete="off">
{% csrf_token %}

  <div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <div class="d-flex align-items-center flex-wrap mr-auto">
        <div class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 my-1 mr-3 active">
          <span class="font-weight-bolder">MCAT</span>
        </div>
      </div>
      <input style="color: #335EEA" class="btn btn-fixed-height btn-white btn-hover-primary font-weight-bolder font-size-sm my-1 mr-3" type='submit' value="Save Changes">
      <a style="color: #335EEA" class="btn btn-fixed-height btn-white btn-hover-primary font-weight-bolder font-size-sm" href="{% url 'mcat:mcat' %}">Cancel</a>
    </div>
  </div>

  <div class="d-flex flex-column-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-custom gutter-b example example-compact">
            <div class="card-body">
              <div class="row">

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Test Date <span class="text-danger">*</span></label>
                    {% render_field form.test_date class="input input-group input-group-solid form-control" type="text" placeholder="Test Date" data-provide="datepicker" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Test Company <span class="text-danger">*</span>
                    </label>
                    {% render_field form.test_company class="input input-group input-group-solid form-control" type="text" %}
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="mb-1">Test Type <span class="text-danger">*</span></label>
                    {% render_field form.test_type class="input input-group input-group-solid form-control" placeholder="Test Company" type="text" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="mb-1">Test Name</label>
                    {% render_field form.test_name class="input input-group input-group-solid form-control" placeholder="e.g. Full Length Exam 1" type="text" %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Biology & Biochemistry Score <span class="text-danger">*</span></label>
                    {% render_field form.bio_biochem class="input input-group input-group-solid form-control" placeholder="Score (118-132)" type="text" %}
                    {% if form.bio_biochem.errors %}
                      <div class="text-danger mt-2">
                          Please enter a score between 118 and 132.
                      </div>
                    {% endif %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Chemistry & Physics Score <span class="text-danger">*</span></label>
                    {% render_field form.chem_physics class="input input-group input-group-solid form-control" placeholder="Score (118-132)" type="text" %}
                    {% if form.chem_physics.errors %}
                      <div class="text-danger mt-2">
                          Please enter a score between 118 and 132.
                      </div>
                    {% endif %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Pyschology & Sociology Score <span class="text-danger">*</span></label>
                    {% render_field form.psych_soc class="input input-group input-group-solid form-control" placeholder="Score (118-132)" type="text" %}
                    {% if form.psych_soc.errors %}
                      <div class="text-danger mt-2">
                          Please enter a score between 118 and 132.
                      </div>
                    {% endif %}
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>CARS Score <span class="text-danger">*</span>
                    </label>
                    {% render_field form.cars class="input input-group input-group-solid form-control" placeholder="Score (118-132)" type="text" %}
                    {% if form.cars.errors %}
                      <div class="text-danger mt-2">
                          Please enter a score between 118 and 132.
                      </div>
                    {% endif %}
                  </div>
                </div>

                <div>
                  <hr class="mt-4 mb-5">
                  <br>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
