{% extends 'base/root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

<div class="d-flex flex-column flex-root">
  <div class="login login-2 login-signin-on d-flex flex-column flex-column-fluid bg-white position-relative overflow-hidden" id="kt_login">
    <div class="login-body d-flex flex-column-fluid align-items-stretch justify-content-center">
      <div class="container row">
        <div class="col-lg-12 d-flex align-items-center justify-content-center">
          <div class="login-form login-signin">
            <form method="POST" action="" class="form w-xxl-550px rounded-lg p-20" >
            {% csrf_token %}

              <div class="pb-4 pt-lg-0 pt-5">
                <h1 class="font-weight-bolder text-dark">Enter new password</h1>
              </div>

              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">New Password</label>
                <div class="mb-4">
                  {% render_field form.new_password1 class="form-control form-control-solid h-auto p-6 rounded-lg" placeholder="Password" type="password" %}
                </div>
              </div>

              <div class="form-group">
                <div class="d-flex justify-content-between mt-n5">
                  <label class="font-size-h6 font-weight-bolder text-dark pt-5">Confirm Password</label>
                </div>
                {% render_field form.new_password2 class="form-control form-control-solid h-auto p-6 rounded-lg" placeholder="Password" type="password" %}
                <div class="pb-lg-0 pb-5">
                  <input class="btn btn-block btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3" type="submit" value="Reset Password">
                </div>
                <div class="d-flex justify-content-between mt-n5">
                  <a href="{% url 'accounts_app:register' %}" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5">Remember your password? Log in.</a>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

