{% extends 'base/root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

<div class="d-flex flex-column flex-root">
  <div class="login login-2 login-signin-on d-flex flex-column flex-column-fluid bg-white position-relative overflow-hidden" id="kt_login">
    <div class="login-body d-flex flex-column-fluid align-items-stretch justify-content-center">
      <div class="container row">
        <div class="col-lg-12 d-flex align-items-center justify-content-center">
          <div class="login-form login-signin">
            <form method="POST" class="form w-xxl-550px rounded-lg p-20" >
            {% csrf_token %}
              <div class="pb-4 pt-lg-0 pt-5">
                <h1 class="font-weight-bolder text-dark">Password reset</h1>
              </div>
              <p class="text-muted text-center mb-5">Enter your email to get a password reset link.</p>
              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
                {% render_field form.email class="form-control form-control-solid h-auto p-6 rounded-lg" placeholder="Your Email" type="text" %}
              </div>
              <input type="submit" value="Reset Password" class="btn btn-lg btn-block btn-primary mb-3">
              <div class="text-center">
              <small class="text-muted text-center">Remember your password? <a href="{% url 'authentication:login' %}">Log in</a>.</small>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

