{% extends 'account_settings/settings.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="d-flex flex-column-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="flex-row-fluid">
          <div class="card card-custom">
            <div class="card-header py-3">
              <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Account</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Delete your account</span>
              </div>
              <div class="card-toolbar">
                <a href="{% url 'account_settings:account' %}" class="btn btn-sm btn-light-primary font-weight-bold mr-2">Back to Account</a>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <label class="col-xl-3"></label>
                <div class="col-lg-9 col-xl-6">
                  <h5 class="font-weight-bold">Delete Account</h5>
                </div>
              </div>
              <div class="form-group row mb-0">
                <label class="col-xl-3 col-lg-3 col-form-label"></label>
                <div class="col-lg-9 col-xl-6">
                  <p class="text-muted">Please enter your username and password below to delete your account. <span class="text-danger">Warning, this action is permanent and cannot be undone.</span></p>
                </div>
              </div>
              <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">Username<span class="text-danger"> *</span></label>
                  <div class="col-lg-9 col-xl-6">
                    <div class="input-group input-group-lg input-group-solid">
                      <input name="username" type="username" class="input form-control form-control-lg form-control-solid" autocomplete="off" placeholder="Username">
                    </div>
                  </div>
                </div>
                <div class="form-group row mb-4">
                  <label class="col-xl-3 col-lg-3 col-form-label">Password<span class="text-danger"> *</span></label>
                  <div class="col-lg-9 col-xl-6">
                    <input name="password" type="password" class="input form-control form-control-lg form-control-solid" placeholder="Password">
                    {% for message in messages %}
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="text-danger mb-0 mt-4">
                          {{ message }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <label class="col-xl-3 col-lg-3 col-form-label"></label>
                <input class="btn btn-sm btn-light-danger font-weight-bold" type="submit" name="Submit" value="Delete my account">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
