{% extends 'account_settings/settings.html' %}

{% block pretitle %}

{% endblock pretitle %}

{% block content %}

<div class="d-flex flex-column-fluid">
  <div class="container">
    <div class="flex-row-fluid">
      <div class="card card-custom">
        <div class="card-header py-3">
          <div class="card-title align-items-start flex-column">
            <h3 class="card-label font-weight-bolder text-dark">Account</h3>
            <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account settings</span>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-9 col-xl-6">
              <h5 class="font-weight-bold mb-3">Change password</h5>
              <p class="text-muted">Click below to change your password.</p>
            </div>
          </div>
            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label"></label>
              <div class="col-lg-9 col-xl-6">
                <a href="{% url 'account_settings:password_change' %}" class="btn btn-sm btn-light-primary font-weight-bold" type="submit" name="Submit" value="Change password">Change password</a>
              </div>
            </div>
          <div class="separator separator-dashed my-5"></div>
          <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-9 col-xl-6">
              <h5 class="font-weight-bold">Delete Account</h5>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label"></label>
            <div class="col-lg-9 col-xl-6">
              <p class="text-muted py-2">Deleting your account is permanent and cannot be undone. Your subscription will be cancelled immediately and all of the data associated with your account will be deleted. If you would like to cancel your subscription without deleting your account, please click
              <a href="{% url 'billing:billing' %}" class="font-weight-boldk">here</a>.</p>
              <a href="{% url 'account_settings:delete_account' %}" class="btn btn-light-danger font-weight-bold btn-sm">Delete my account</a>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-success alert-dismissable mt-3 mb-3 text-center" data-dismiss="alert" aria-label="close" class="close" type="submit" value="Login">Password changed!</div>
    </div>
  </div>
</div>

{% endblock %}
