{% extends 'base/root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

<div class="d-flex flex-column flex-root">
  <div class="login login-2 login-signin-on d-flex flex-column flex-column-fluid bg-white position-relative overflow-hidden" id="kt_login">
    <div class="login-body d-flex flex-column-fluid align-items-stretch justify-content-center">
      <div class="container row">
        <div class="col-lg-12 d-flex align-items-center justify-content-center">
          <div class="login-form login-signin">
            <form method="POST" action="" class="form w-xxl-550px rounded-lg px-20" autocomplete="off">
            {% csrf_token %}

              <div class="pb-4 pt-lg-0 pt-5">
                <a href="{% url 'registration:register' %}"><h1 style="color: #335EEA" class="font-weight-bolder text-center">Kanaboard</h1></a>
              </div>

              <div class="form-group mb-4">
                <label class="font-size-h6 font-weight-bolder text-dark">First Name</label> <span class="text-danger">*</span>
                {% render_field form.first_name class="form-control form-control-solid h-auto p-4 rounded-lg" placeholder="First name" type="text" %}
              </div>

              <div class="form-group mb-4">
                <label class="font-size-h6 font-weight-bolder text-dark">Username</label> <span class="text-danger">*</span>
                {% render_field form.username class="form-control form-control-solid h-auto p-4 rounded-lg" placeholder="Username" type="text" %}
                <p class="text-danger mt-2">{{ form.username.errors.as_text }}</p>
              </div>

              <div class="form-group mb-4">
                <label class="font-size-h6 font-weight-bolder text-dark">Email</label> <span class="text-danger">*</span>
                {% render_field form.email class="form-control form-control-solid h-auto p-4 rounded-lg" placeholder="Email" type="email" %}
                <p class="text-danger mt-2">{{ form.email.errors.as_text }}</p>
              </div>

              <div class="form-group mb-4">
                <label class="font-size-h6 font-weight-bolder text-dark">Password</label> <span class="text-danger">*</span>
                {% render_field form.password1 class="form-control form-control-solid h-auto p-4 rounded-lg" placeholder="Password" type="password" %}
              </div>

              <div class="form-group mb-4">
                <label class="font-size-h6 font-weight-bolder text-dark">Confirm Password</label> <span class="text-danger">*</span>
                {% render_field form.password2 class="form-control form-control-solid h-auto p-4 rounded-lg" placeholder="Confirm password" type="password" class="fe fe-eye" %}

                {% if form.password2.errors %}
                  {% for error in form.password2.errors %}
                      <p class="form-error text-danger mt-3 mb-3">* {{ error|escape }}</p>
                    {% endfor %}
                {% endif %}
              </div>

              <p class="text-center text-muted font-weight-bolder mb-3">
              By clicking Sign Up you agree to Kanaboard's <br><a style="color: #335EEA" href="{% url 'landing:terms' %}" class="text-hover-dark">Terms of Service</a> and <a style="color: #335EEA" href="{% url 'landing:privacy' %}" class="text-hover-dark">Privacy Policy</a>.
              </p>

              <input style="color: #335EEA" class="btn btn-block btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 mt-0 mb-4 mr-3 btn-hover-text-white" type="submit" name="Sign up" value="Sign Up">

              <p class="text-center text-muted font-weight-bolder mb-2 p-0">Already have an account? <a style="color: #335EEA" href="{% url 'authentication:login' %}" class="text-hover-dark">Sign in.</a>
              </p>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="login-footer pb-8 flex-column-auto">
      <div class="container d-flex flex-column flex-md-row align-items-center justify-content-center">
        <div class="font-size-h6 font-weight-bolder order-1 order-md-2 py-2 py-md-0">
          <a target="_blank" rel="noopener noreferrer" href="{% url 'landing:home' %}" class="text-dark">&copy; Kanaboard</a>
          <a href="mailto:hello@kanaboard.com" class="text-dark ml-10">Contact</a>
          <a target="_blank" rel="noopener noreferrer" href="{% url 'landing:privacy' %}" class="text-dark ml-10">Privacy</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

